@font-face {
  font-family: "Kaushan Script";
  src: url("kaushanscript-Regular.eot"); /* IE9 Compat Modes */
  src: url("kaushanscript-Regular.eot?#iefix") format("embedded-opentype"),
    url("kaushanscript-Regular.woff2") format("woff2"),
    url("kaushanscript-Regular.woff") format("woff"),
    url("kaushanscript-Regular.ttf") format("truetype"),
    url("kaushanscript-Regular.svg#KaushanScript") format("svg");
}
