html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #000;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.none {
  display: none;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  background: linear-gradient(135deg, #2f0035, #4b1153, #8b4694, #b094b4);
  /* background: linear-gradient(135deg, #000000, #424242, #999999, #e0e0e0); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header:hover {
  background: linear-gradient(135deg, #000000, #424242, #999999, #e0e0e0);
}
.header__logo {
  font-family: "Kaushan Script", serif;
  font-size: 36px;
  color: #ffffff;
}
.header__logo:hover {
  color: #9d35bc;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
  border-radius: 8px;
  width: 1160px;
}
.header__time {
  border: 1px solid black;
  padding: 10px 15px;
  border-radius: 7px;
}
.header__buttons {
  display: flex;
  gap: 10px;
}
.header__join {
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid #2f0101;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.header__entry {
  background-color: transparent;
  padding: 8px 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 7px;
  border-radius: 20px;
  border: 1px solid #2f0101;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;
  cursor: pointer;
  width: 100px;
  font-family: "Raleway";
  font-size: 16px;
}
.header__entry:hover {
  background-color: #ffffff;
}

.bx-user-circle {
  font-size: 16px;
}

.main {
  background-color: hsl(0, 0%, 90%);
  margin-top: 15px;
}

.sidebar {
  position: fixed;
  padding: 15px 10px;
  top: 0;
  height: 100%;
  background-color: rgba(22, 22, 22, 0.8);
  width: 160px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 150px;
  overflow-x: hidden;
  transition: 0.3s;
  z-index: 999;
}
.sidebar__user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar__wrapper {
  background-color: #fff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.sidebar__menu-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.sidebar__menu-item {
  transition: color 0.2s ease;
}
.sidebar__menu-item:hover {
  color: #f893ff;
}
.sidebar__menu-link {
  display: flex;
  align-items: center;
  gap: 5px;
}
.sidebar__menu-text {
  font-size: 15px;
}

.bx.bxs-dashboard,
.bx.bxs-grid,
.bx.bxs-group {
  font-size: 29px;
}

.cards {
  padding-top: 30px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.cards__col {
  width: 320px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 8px;
  font-family: "Raleway";
  font-size: 16px;
}
.cards__header {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  border-radius: 8px;
  font-family: "Kaushan Script", serif;
}
.cards__header--todo {
  background-color: #7c1a9a;
}
.cards__header--inProgress {
  background-color: #a866be;
}
.cards__header--done {
  background-color: #dd98f4;
}
.cards__body {
  height: 450px;
  overflow-y: auto;
  padding-bottom: 15px;
}
.cards__item {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  margin-top: 15px;
  padding: 10px 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cards__item:hover {
  animation: bounce 0.2s ease-in-out 1;
}
.cards__item--todo {
  background-color: #c893de;
}
.cards__item--inProgress {
  background-color: #dfb8d2;
}
.cards__item--done {
  background-color: #fedef3;
}
.cards__title {
  display: flex;
  justify-content: space-between;
}
.cards__title-buttons {
  display: flex;
  gap: 15px;
}
.cards__title-button {
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.1s linear;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 8px 12px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}
.cards__title-button:hover {
  background-color: #b3b3b3;
}
.cards__desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
.cards__desc-btn {
  padding: 10px 10px;
  border-radius: 8px;
  border: none;
  transition: background-color 0.1s linear;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 8px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.cards__desc-btn:hover {
  background-color: #b3b3b3;
}
.cards__info {
  display: flex;
  justify-content: space-between;
}
.cards__time {
  padding: 5px;
  background-color: #fff;
  border-radius: 8px;
}
.cards__btn {
  width: 100%;
  border-radius: 8px;
  border: none;
  padding: 20px 0;
  cursor: pointer;
  transition: background-color 0.1s linear, box-shadow 0.1s linear;
}
.cards__btn--todo {
  background-color: #9d35bc;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.cards__btn--todo::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(120deg, transparent, #cf17a1, transparent);
  transform: translateX(-100%);
  transition: 0.6s;
  position: absolute;
}

.cards__btn--todo:hover {
  background-color: transparent;
  box-shadow: 0px 0px 20px 5px rgba(248, 20, 233, 0.7);
}
.cards__btn--done {
  background-color: #c278da;
  overflow: hidden;
  position: relative;
}
.cards__btn--done::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(120deg, transparent, #cf17a1, transparent);
  transform: translateX(-100%);
  transition: 0.6s;
  position: absolute;
}
.cards__btn--done:hover {
  background-color: transparent;
  box-shadow: 0px 0px 20px 5px rgba(248, 20, 233, 0.7);
}
.info_workspace {
  width: 80px;
  height: 20px;
  font-size: 14px;
}

/* @keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-8px);
  }
  60% {
    transform: translateY(-4px);
  }
} */
